---
import Layout from "@/layouts/html.astro";
import { Button } from "@/components";
---

<Layout padding={false}>
    <section class="h-screen flex flex-col gap-5 items-center justify-center">
        <h1 class="text-4xl font-bold">Libre Invites</h1>
        <div class="flex gap-3">
            <Button href="/new/event" size="modal">Create event</Button>
            <Button href="/new/arrangement" size="modal"
                >Create arrangement</Button
            >
        </div>
    </section>
</Layout>
