---
/* This file is part of Libre Invites.
 *
 * Copyright (C) 2025 Olivér Pirger
 *
 * Libre Invites is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License version 3
 * as published by the Free Software Foundation.
 *
 * Libre Invites is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Libre Invites. If not, see <https://www.gnu.org/licenses/>.
 */

import Layout from "@/layouts/html.astro";
import { Button } from "@/components";

export const prerender = true;
---

<Layout padding={false}>
    <section class="h-screen flex flex-col gap-5 items-center justify-center">
        <h1 class="text-4xl font-bold">Libre Invites</h1>
        <div class="flex gap-3">
            <Button href="/new/event" size="modal">Create event</Button>
            <Button href="/new/arrangement" size="modal"
                >Create arrangement</Button
            >
        </div>
    </section>
</Layout>
