---
import Layout from "@/layouts/html.astro";
import { Input, Title } from "@/components";
---

<Layout>
    <Title>Create event</Title>
    <form class="flex flex-col gap-2">
        <Input value="New Event" name="Title" />
        <Input name="Location or Video Call" />
    </form>
</Layout>
