---
/* This file is part of Libre Invites.
 *
 * Copyright (C) 2025 Olivér Pirger
 *
 * Libre Invites is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License version 3
 * as published by the Free Software Foundation.
 *
 * Libre Invites is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Libre Invites. If not, see <https://www.gnu.org/licenses/>.
 */

import Layout from "@/layouts/html.astro";
import { Button, DatePicker, Input, Title } from "@/components";
import { AllDay } from "@/islands";
import { actions, isInputError } from "astro:actions";

const result = Astro.getActionResult(actions.createEvent);
console.debug(result?.error);
---

<Layout class="flex items-center justify-center h-screen">
    <main class="w-md grid gap-3">
        <Title>Create event</Title>
        {
            result?.error && (
                <div class="flex items-center justify-center gap-2 text-white bg-red-500 border border-red-700 rounded-lg h-9">
                    <div class="i-ph:warning-fill size-5" />
                    <p>Failed to create event.</p>
                </div>
            )
        }
        <form action={actions.createEvent} class="grid gap-2" method="post">
            <Input id="title" value="New Event" name="Title" />
            <Input id="location" name="Location or Video Call" />
            <AllDay client:idle />
            <DatePicker client:idle id="start" name="Starts" />
            <DatePicker client:idle id="end" name="Ends" />
            <Input id="url" name="URL" />
            <Input id="notes" name="Notes" />
            <div class="grid gap-1 grid-cols-2">
                <Button href="/" type="button" variant="secondary"
                    >Cancel</Button
                >
                <Button type="submit">Create</Button>
            </div>
        </form>
    </main>
</Layout>
