---
import { cn } from "@/lib";
import { Font } from "astro:assets";

interface Props {
    padding?: boolean;
}
const { padding = true } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Libre Invites</title>

        <Font cssVariable="--font-roboto" preload />
    </head>
    <body class={cn("bg-neutral-900 text-white", padding && "p-3")}>
        <slot />
    </body>
</html>
