---
/* This file is part of Libre Invites.
 *
 * Copyright (C) 2025 Olivér Pirger
 *
 * Libre Invites is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License version 3
 * as published by the Free Software Foundation.
 *
 * Libre Invites is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with Libre Invites. If not, see <https://www.gnu.org/licenses/>.
 */

import { cn } from "@/lib";
import type { HTMLAttributes } from "astro/types";
import { Font } from "astro:assets";

interface Props extends HTMLAttributes<"body"> {
    padding?: boolean;
}
const { class: className, padding = true, ...props } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Libre Invites</title>

        <Font cssVariable="--font-roboto" preload />
    </head>
    <body
        class={cn("bg-neutral-900 text-white", padding && "p-3", className)}
        {...props}
    >
        <slot />
    </body>
</html>
